/* Project CSS 
============================================================
============================================================*/

/*----------GENERALS------------*/
body {
	font: 62.4%/2 'Quattrocento Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font: 2.5em 'Arima Madurai', cursive;
}

h1 {
	font-size: 6em;
}

@media screen and (max-width: 379px) {
	h1 {
		font-size: 5em;
	}
}


h3 {
	font-size: 3.5em;
	text-align: center;
}

h3, h4, h5, h6 {
	color: #3EBB8E;
}

section {
	width: 90%;
	margin: 0 auto;
}

a {
	color: #3EBB8E;
}

p {
	font-size: 1.7em;
}

ul {
	list-style: none;
	padding: 0;
}

.hideme {
	opacity: 0;
}
/*----------NAVIGATION------------*/

nav {
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	display: none;
}

@media screen and (max-width: 500px) {
	nav ul {
		display: none;
	}

	.fixed {
		display: none;
	}
}

nav a {
	color: white;
	font-size: 1.5em;
	display: block;
	padding: 5px;
}

nav ul {
	width: 300px; /*  */
	float: right;
	list-style: none;
}

nav li {
	float: left;
    margin: 0px 10px;
    padding: 0px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

nav a:before, nav a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

nav a:before
{
    left: 0px;
    top: 0px;
}

nav a:after
{
    right: 0px;
    bottom: 0px;
}

nav a:hover:before, nav a:hover:after
{
    opacity: 1;
    width: 100%;
}

.fixed {
  position: fixed;
  z-index: 10;
  /*background: rgba(62, 187, 143, .95);*/
  background: rgba(62, 187, 143, .6);
  top: 0;
  padding-bottom: 10px;
}
.fixed a {
  color: #fff;
  text-decoration: none;
}
.fixed li:hover {
  background: rgba(62, 187, 143, .95);
}

@media screen and (max-width: 500px) {
	nav .fixed {
		display: none;
	}
}


/*----------HEADER------------*/

header {
	background:
	linear-gradient(
	  rgba(0, 0, 0, 0.3), 
	  rgba(0, 0, 0, 0.3)
	),
	url('../assets/images/background.jpg');
	background-position: center center;
	background-size: cover;
	padding: 200px 0 370px 0;

	/*height: calc(100vh - 5rem);*/
	color: white;
	text-align: center;
	position: relative;
}

@media screen and (max-width: 474px) {
	header {
		padding: 150px 0 320px 0;
	}
}

header::before {
	right: 0;
}

header::after {
	left: 0;
}

header::before, header::after {
	content:"";
	display: block;
	width: calc(50% - 50px);
	height: 70px;
	background: white;
	position: absolute;
	bottom: 0;
}

h1::before {
	transform: rotate(-45deg);
	left: calc(50% - 17px);
}

h1::after {
	transform: rotate(45deg);
	left: calc(50% - 83px);
}

h1::before, h1::after {
	content:"";
	display: block;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid white;
	position: absolute;
	bottom: -8px;
}

/*#about::before {
	content:"";
	display: block;
	width: 0;
	height: 0;

	border-right: 50px solid black;
	border-bottom: 50px solid black;
	position: absolute;
	bottom: 100px;
}*/

/*----------ABOUT SECTION------------*/

#about::before {
	content: "";
	display: block;
	padding: 20px;
	margin-top: 80px;
}

#about {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 50px
}

#about img {
	border-radius: 50%
}

#about p {
	width: 500px;
	margin: 0 auto;
}

#about::after {
	content: "";
	display: block;
	width: 80px;
	height: 0;
	border-top: 2px solid #ccc;
	margin: 0 auto;
	padding: 20px;
	margin-top: 100px;
}

@media screen and (max-width: 561px) {
	
	#about {
		margin-top: 50px;
	}

	#about img {
		height: 250px;
		width: 250px;
	}

	#about p {
		width: 90%;
	}
} 

/*----------WORK SECTION------------*/

#work {
	text-align: center;
}

#work h3 {
	margin-top: 100px;
	margin-bottom: 50px;
}

#work p {
	width: 60%;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 100px;
}


#work::after {
	content: "";
	display: block;
	width: 80px;
	height: 0;
	border-top: 2px solid #ccc;
	margin: 0 auto;
	padding: 20px;
	margin-top: 100px;
}

#work img {
	padding: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}


/*----------CONTACT SECTION------------*/

#contact::after {
	content: "";
	display: block;
	width: 80px;
	height: 0;
	border-top: 2px solid #ccc;
	margin: 0 auto;
	padding: 20px;
	margin-top: 100px;
}

#contact {
	text-align: center;
}

#contact h4 {
	margin-bottom: 40px;
}

#contact span {
	color: #329574;
	font-size: 6em;
	margin: 30px;
}

#contact span:hover {
	color: rgba(62, 187, 143, .9);
}

/*----------FOOTER------------*/

footer {
	background: rgba(62, 187, 143, .6);
	padding: 40px;
}

.text {
	display: none;
}







